
/* Header style */
header{width: 100%; height: 70px; margin: auto; position: sticky; background: #fff; z-index: 999; left: 0; top: 0;}
header .center{width: 100%; height: 100%; display: flex; justify-content: space-between; position: relative;}
header .center h2{height: 100%; padding: 5px;}
header .center h2 img{height: 100%;}

header .Nav_menu{display: flex; justify-content: space-between; margin: auto; position: relative;}
header .Nav_menu .MenuCate{display: flex; justify-content: space-between; align-items: center;}
header .Nav_menu .MenuCate li{padding: 15px 30px; transition: all 0.4s;}
header .Nav_menu .MenuCate li a{display: inline-block;}
header .Nav_menu .MenuCate li:hover >a{border-bottom: 1px solid #222;}


header .Nav_menu .submenu{display: none; position: absolute; padding-top: 10px; background: #fff; z-index: 999; }
header .Nav_menu .submenu li{padding: 10px 20px;}
header .Nav_menu .submenu li a{display: inline-block;}

/* .Navbar_btn {display:none; position: absolute; top: 10px; right: 30px; font-size: 25px;} */

header .Nav_rightmenu{display: flex; align-items: center; padding-right: 0;}
header .Nav_rightmenu li{padding: 15px;}

.banner{width: 100%; height: 600px; padding: 15px 0;}
.banner video {width: 100%; height: 100%;}

/* allsection style */
.allSec{width: 100%; height: auto; padding: 5% 0;}
.title{display: flex; padding-bottom: 30px;}
.title p{line-height: 1.5; margin-left: 30px;}

.allCon{width: 100%; height: auto; display: flex; justify-content: space-between; align-items: center;}
.allCon .imgBox{display: flex; width: 30%; height: auto;}
.allCon .imgBox>div{padding: 10px;}
.allCon .imgBox img{width: 100%;}
.allCon .imgBox a{display: block; width: 100%; height: auto; padding: 10px 0; border: 2px solid #111; margin-top: 15px; text-align: center; font-weight: 600; transition: all 0.4s; font-family: 'Open Sans';}
/* .allCon .imgBox>div>a:hover {border: 2px solid #045004; color: #045004;} */
.allCon .imgBox>div>a:hover {background: #045004; color: #fff;}

/* bestproduct style */
.bestProduct{width: 100%; height: 510px; _background: #bbb; display: flex; }
.bestProduct .Leftbox{width: 60%; height: 100%; position: relative;} 
.bestProduct .Leftbox img{width: 100%; height: 100%;}
.bestProduct .Leftbox .imgTxt{position: absolute; z-index: 1; color: #fff; text-align: left; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 35px; line-height: 1.5;}

.Rightbox{width: 40%; height: 100%; border: 0.5px solid #bbb;}
.Rightbox .slidebox{width: 100%; height: 100%; margin: 20px auto 0; outline: 0;}
/* .Rightbox .slidebox .slideboxImg{width: 100%; height: 100%; margin: auto;} */
.Rightbox .slidebox img{width: 70%; height: 70%; margin: auto; }
.Rightbox .slideboxTit{width: 70%; height: 20%; margin:  2% auto; background: #fff; text-align: center; border-bottom: 1px solid #111; padding-bottom: 5px;}
.Rightbox .slideboxTit h3{padding: 10px 0 0; font-weight: 500;}
.Rightbox .slideboxTit span{font-size: 16px; line-height: 1.7; font-weight: 500;}
.Rightbox .slideboxTit b{display: block; padding: 20px 0 0;}

/* slick slider style */
.Rightbox .slider{width: 100%; height: 100%; margin: auto; _position: relative;}
.Rightbox .slider .slick-dots{display: flex; justify-content: center; margin: 0; padding: 0; list-style-type: none;}
.Rightbox .slider .slick-dots li{margin: 10px 5px; display: flex; justify-content: center;}
.Rightbox .slider .slick-dots li button{display: inline-block; width: 35px; height: 5px; border: none; background: #ccc; text-indent: -9999px;}
.Rightbox .slider .slick-dots li.slick-active button { background-color: #045004;}
.Rightbox .slider .slick-arrow{display: none;}